.main__footer {
	position: realtive;
	width: 100%;
	background-color: black;
	color: white;
	left: 0;
	bottom: 0;
    padding: 40px;

}
.main__content
{
    display: grid;
	grid-template-columns: 4fr 2fr 2fr 4fr;
	grid-template-areas:
		"a b c d";
	margin-left: 10px;
    /* margin-right: 100px; */

}

.main__footer ul{
    margin-top: 20px;
}
.main__footer ul > li {
	list-style: none;
	background-color: transparent;
    color: lightgray;
    font-size: 15px;
    line-height: 30px;
    
}
p{
    font-size: 15px;
    color: lightgray;
}
h4{
    font-size: 15px;
    
}
.main__footer >div {
	padding: 10px;
}
.section__1 {
	grid-area: a;
    margin-left: 20px;
}
.section__2 {
	grid-area: b;
    margin-left: 90px;
    margin-right: 35px;
}

.section__3 {
	grid-area: c;
    margin-left: 25px;
    margin-right: 35px;
}
.section__4 {
	grid-area: d;
    margin-left: 76px;
    /* margin-right: 35px; */
}
.section__1 h1{
    font-size: 50px;
    letter-spacing: 1rem;
    align-items: center;
}
.input__form input{
    background: white;
    height: 36px;
    padding: 8px;
    width: 100%;
}
.form__buttons  
{
    display: flex;
    justify-content: space-between;
}
.btn
{
    
    width: 150px;
    padding: 12px;
    font-size: 12px;
    background: black;
    color: whitesmoke;
    text-align: center;
    border: 1px solid whitesmoke;
}

.secondary__content
{
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
}

.social__icons > svg
{
    display: inline-block;
    margin: 1rem;
    
}
span
{
    color: yellow;
}
.secondary__1
{
    position: absolute;
    left: 80px;
}

.download__option img
{
    width: 200px;

}

.secondary__2
{
    margin-left: 867px;
}

.section__4  >*{
    margin-top: 20px;
}

