.main__nav {
	display: flex;
	width: 100%;
	margin: auto;
	height: 48px;
	position: sticky;
	padding: 0 16px;
	align-items: center;
	background-color: black;
	color: white;
	top: 0;
}

.nav__title {
	margin-left: 6rem;
	letter-spacing: 0.5rem;
	font-weight: inherit;
	font-size: 24px;
	width: 132px;
}

.nav__items {
	margin-left: 30px;
	list-style: none;
	display: flex;
}

.nav__items li {
	padding: 1rem;
	letter-spacing: 1px;
}

.nav__search {
	width: 550px;
	height: 25px;
	background: #fff;
	outline: none;
}
.nav__search__icon {
	align-items: center;
	position: relative;
	height: 25px;
	margin-left: -30px;
	z-index: 1;
	color: black;
}
.nav__icons {
	display: flex;
	margin-left: 15px;
	width: max-content;
	white-space: nowrap;
	line-height: 100%;
	padding-left: 1rem;
}

.nav__icons li {
	list-style: none;
	padding-left: 15px;
}

.nav__icon {
	margin-left: 10px;
}
