.secondary__nav
{
    background-color: lightgray;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    height: 2.5rem;
}
.content__main ul
{
    margin-left: 5rem;
}
.content__main ul li
{
    display: inline-block;
    margin: 0.5rem;
    padding-bottom: 4px;
}

.content__main ul li:hover
{
    border-bottom: 4px solid black;
}